<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% extends "base.html"%}
    {%block content%}
    <h1>APK Name: {{apk_name}}</h1>

    <div class="col-xl-12 col-lg-12 scroll">
        <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Configurations</h6>
      </div>
        <div class ="card-body">
            <p class="font-weight-bold"> Select .jks file </p>
            <form method="post" action="/result" enctype="multipart/form-data" onsubmit="return validate()" id="form1">
                <div class="form-group files justify-content-center">
                    <div class="file-upload-wrapper">
                        <input type="file" id="file" name="file" multiple="" accept=".jks">
                    </div>
                    </div>
                </br>
                <hr/>
            </br>

                <p class="font-weight-bold">Select obfuscation options</p>

                    <div>
                        <div class="custom-control custom-switch">
                            
                            <input class="custom-control-input" type="checkbox" value="PurgeLogs" name="options" id="customSwitches0" checked >
                            <label class="custom-control-label" for="customSwitches0" > Purge Logs </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="a" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox1"> Assert</label>
                         
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="d" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox2"> Debug </label>
                    
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="e" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox3"> Error </label>
                            
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="i" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox4"> Info </label>
                            
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="v" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox5"> Verbose </label>
                            
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="w" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox6"> Warning</label>

                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="wtf" name="purge_options" checked>
                            <label class="form-check-label" for="inlineCheckbox7"> What a Terrible Failure</label>
                        </div>
                        
                    </div>
                </br>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox" value="RenameMethod" name="options" id="customSwitches1" checked>
                        <label class="custom-control-label" for="customSwitches1" > Rename Methods </label>
                    </div>    
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox"  value="RenameClass" name="options" id="customSwitches2" checked>
                        <label class="custom-control-label" for="customSwitches2"> Rename Classes </label>
                    </div>    
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox"  value="StringEncryption" name="options" id="customSwitches3" checked>
                        <label class="custom-control-label" for="customSwitches3"> String Obfuscate </label>
                    </div>    
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox"  value="FakeBranch" name="options" id="customSwitches4" checked>
                        <label class="custom-control-label" for="customSwitches4"> Fake Branch </label>
                    </div>    
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox"  value="GotoInjector" name="options" id="customSwitches5" checked>
                        <label class="custom-control-label" for="customSwitches5"> GotoInjector</label>
                    </div>    
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox"  value="ReorderLabels" name="options" id="customSwitches6" checked>
                        <label class="custom-control-label" for="customSwitches6"> Reorder Labels </label>
                    </div>

                <input type="hidden" value="{{apk_name}}" name="apk_name"></br></br>
                <hr/>
            </br>
                <div class="form-group">
                    <p class="font-weight-bold">Enter KS-Pass</p>
                    <input type="text" class="form-control" placeholder="ks-pass" name="ks-pass">
                </div>
                <div class="form-group">
                    <p class="font-weight-bold">Enter Key-Pass</p>
                    <input type="text" class="form-control" placeholder="key-pass" name="key-pass">
                </div>
     
                <button type="submit" class="btn btn-primary" value="Submit" form="form1">Submit</button>

            </form>
        </div>
      </div>
      </div>
      <script>
          function validate(){
            if( document.getElementById("file").files.length == 0 ){
                alert("Please put in a file");
                return false;
            }
            return true;
            }


      </script>
    {% endblock content%}
</body>

</html>