<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% extends "base.html"%}
    {%block content%}
    <h1>APK Name: {{apk_name}}</h1>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 scroll">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Configurations</h6>
                </div>
                <div class="card-body justify-content-center">
                    <h2 class="font-weight-bold text-center text-primary"> Select .jks file </h2>
                    <form method="post" action="/result" enctype="multipart/form-data" id="form1">
                        <div class="form-group files justify-content-center">
                            <div class="file-upload-wrapper">
                                <input type="file" id="file" name="file" multiple="" accept=".jks">
                            </div>
                        </div>
                        </br>

                        </br>

                        <h2 class="font-weight-bold text-center text-primary">Select obfuscation methods</h2>
                        </br>

                        <div class="row container-fluid mb-3 justify-content-center">
                            <!-- boolean-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">Boolean Arithmetic [Restructure]
                                        </h4>
                                        <p>Inject an always true/false clause into the CFG</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox"
                                            value="BooleanArithmetic" name="options" checked>
                                    </div>
                                </div>
                            </div>

                            <!-- goto-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">Goto Injector [Restructure]</h4>
                                        <p>Modify the CFG by wrapping each method with 2 nodes</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox" value="GotoInjector"
                                            name="options" checked>
                                    </div>
                                </div>
                            </div>

                            <!-- Purgelog-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mr-2">
                                                <h4 class="card-title text-primary font-weight-bold">Purge Logs
                                                    [Remove]</h4>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Basic dropdown -->
                                                <button class="btn btn-primary dropdown-toggle mr-4" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox1" value="a" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox1">Assert</label>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox2" value="d" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox2">Debug</label>
                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox3" value="e" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox3">Error</label>
                                                        </div>
                                                    </a>

                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox4" value="i" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox4">Info</label>
                                                        </div>
                                                    </a>

                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox5" value="v" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox5">Verbose</label>
                                                        </div>
                                                    </a>

                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox6" value="w" name="purge_options" checked>
                                                            <label class="custom-control-label"
                                                                for="checkbox6">Warn</label>
                                                        </div>
                                                    </a>

                                                    <a class="dropdown-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="checkbox7" value="wtf" name="purge_options" checked>
                                                            <label class="custom-control-label" for="checkbox7">What
                                                                A Terrible Failure</label>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- Basic dropdown -->
                                            </div>
                                        </div>

                                        <p class="card-text">Remove logs that may contain sensitive information</p>

                                        <input data-size="sm" data-toggle="toggle" type="checkbox" value="PurgeLogs"
                                            name="options" checked>


                                    </div>
                                </div>
                            </div>

                            <!-- rename class-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">Rename Class [Rename]</h4>
                                        <p>Rename classes and their packages</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox" value="RenameClass"
                                            name="options" checked>
                                    </div>
                                </div>
                            </div>

                            <!-- rename method-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">Rename Methods [Rename]</h4>
                                        <p>Rename method declarations and invocations</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox" value="RenameMethod"
                                            name="options" checked>
                                    </div>
                                </div>
                            </div>

                            <!-- reorder-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">Reorder Labels [Restructure]
                                        </h4>
                                        <p>Alter the CFG by reordering & abusing goto instructions</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox" value="ReorderLabels"
                                            name="options" checked>
                                    </div>
                                </div>
                            </div>

                            <!-- str encrypt-->
                            <div class="col-lg-4 col-md-5 mb-3 align-items-center">
                                <div class="card h-100 shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold">String Encryption [Replace]</h4>
                                        <p>Encrypt strings with AES</p>
                                        <input data-size="sm" data-toggle="toggle" type="checkbox"
                                            value="StringEncryption" name="options" checked>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <input type="hidden" value="{{apk_name}}" name="apk_name"></br></br>

                        <div class="row justify-content-center">
                            <div class="col-lg-4 align-items-center">
                                <div class="card shadow mb-10 py-0 border-left-primary">
                                    <div class="card-body">
                                        <h4 class="text-primary font-weight-bold ">KS-Pass</h4>

                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Enter ks-pass"
                                                name="ks-pass">
                                        </div>

                                        <h4 class="text-primary font-weight-bold">Key-Pass</h4>

                                        <div class="form-group">

                                            <input type="password" class="form-control" placeholder="Enter key-pass"
                                                name="key-pass">
                                        </div>

                                        <button type="submit" id="submitBtn" class="btn btn-primary" value="Submit"
                                            form="form1">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>



                <div class="modal js-loading-bar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title" id="status">Initialising</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-menu').click(function (e) {
                e.stopPropagation();
            });
            $('.js-loading-bar').modal({
                backdrop: 'static',
                show: false
            });

            $("#form1").submit(function () {
                if (document.getElementById("file").files.length == 0) {
                    alert("Obfuscation requires a .jks file");
                    return false;
                }
                var $modal = $('.js-loading-bar'),
                    $bar = $modal.find('.progress-bar');

                $modal.modal('show');
                $bar.addClass('animate');
            });

            setInterval(checkProgress, 1000);

            function checkProgress() {
                $.ajax({
                    type: 'GET',
                    url: '/result',
                    success: function (data) {
                        $('.progress-bar').css('width', data.completion + '%').attr('aria-valuenow', data.completion);
                        document.getElementById("status").innerHTML = data.status
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus); alert("Error: " + errorThrown);
                    }

                });
            }


        });






    </script>

    {% endblock content%}
</body>

</html>