<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% extends "base.html"%}
    {%block content%}

    <div class="col-xl-8 col-lg-5 scroll">
        <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Select APK File</h6>
      </div>
        <div class ="card-body"> 
            <form method="post" action="/config" enctype="multipart/form-data" onsubmit="return validate()">

                <div class="form-group files justify-content-center">
                    <div class="file-upload-wrapper">
                        <input type="file" id="file" name="file" multiple="" accept=".apk" onchange="form.submit()">
                    </div>
                </div>
        
            </form>
        </div>
      </div>
      </div>
      <script>
          function validate(){

            if( document.getElementById("file").files.length == 0 ){
                alert("Please put in a file");
                return false;
            }
            return true;
            }
      </script>
    {% endblock content%}
</body>

</html>